<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container-fruit">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-0"
       style="padding-left: 100px;background-color: #e3f2fd;">
    <img class="navbar-brand" href="#"
         src="https://apprecs.org/gp/images/app-icons/300/25/com.deliverynow.jpg"
         style="height: 70px">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Đặt bàn <span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            TP. HCM
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Hà Nội</a>
            <a class="dropdown-item" href="#">Đà Nẵng</a>
            <a class="dropdown-item" href="#">Cần Thơ</a>
            <a class="dropdown-item" href="#">Hải Phòng</a>
            <a class="dropdown-item" href="#">Huế</a>
            <a class="dropdown-item" href="#">Khánh Hòa</a>
            <a class="dropdown-item" href="#">Đồng Nai</a>
            <a class="dropdown-item" href="#">Nam Định</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Đặt bàn <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Đồ ăn <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Thực phẩm <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Siêu thị <span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ...
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Thú cưng</a>
            <a class="dropdown-item" href="#">Giặt ủi</a>
          </div>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0 pull-right" >
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" placeholder="Search" />
          <label class="form-label" for="form1"></label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
    <button type="button" class="btn btn-light border-primary">Đăng nhập</button>
  </nav>
</div>
<div class="container-fruit bg-dark ">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-2">
      <div class="input-group m-3">
        <input type="text" class="form-control text-center border-primary" placeholder="Địa chỉ giao hàng"
               aria-label="Username"
               aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-md-5">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 bg-light text-center">
      <h2>Danh sách các món ăn</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card ">
            <button class="btn"><img class="card-img-top" height="200px"
                    src="https://andemdanang.com/wp-content/uploads/2018/09/C%C6%A1m-th%E1%BB%91-%E1%BA%BFch-%C4%90%C3%A0-N%E1%BA%B5ng-601x400.jpg"
                    alt="Card image cap"></button>
            <div class="card-body">
              <h3 class="card-title">Cơm hến Hiếu Trần</h3>
              <p class="card-text">20.000 VNĐ</p>
              <a href="#" class="btn btn-primary">Mua Ngay!</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <button class="btn"><img class="card-img-top" height="200px"
                 src="https://giadinh.tv/wp-content/uploads/2018/12/anh-2.jpg"
                 alt="Card image cap">
            </button>
            <div class="card-body">
              <h3 class="card-title">Cơm gà Nguyên Béo</h3>
              <p class="card-text">25.000 VNĐ</p>
              <a href="#" class="btn btn-primary">Mua Ngay!</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card ">
            <button class="btn"><img class="card-img-top" height="200px"
                 src="https://i.ytimg.com/vi/YXRS3MV5xpY/maxresdefault.jpg"
                 alt="Card image cap">
            </button>
            <div class="card-body">
              <h3 class="card-title">Cơm chiên Xe Lớn</h3>
              <p class="card-text">20.000 VNĐ</p>
              <a href="#" class="btn btn-primary">Mua Ngay!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

</body>
</html>
