<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container-fruit">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-0"
       style="padding-left: 100px;background-color: #e3f2fd;">
    <img class="navbar-brand" href="#"
         src="https://apprecs.org/gp/images/app-icons/300/25/com.deliverynow.jpg"
         style="height: 70px">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Đặt bàn <span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            TP. HCM
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Hà Nội</a>
            <a class="dropdown-item" href="#">Đà Nẵng</a>
            <a class="dropdown-item" href="#">Cần Thơ</a>
            <a class="dropdown-item" href="#">Hải Phòng</a>
            <a class="dropdown-item" href="#">Huế</a>
            <a class="dropdown-item" href="#">Khánh Hòa</a>
            <a class="dropdown-item" href="#">Đồng Nai</a>
            <a class="dropdown-item" href="#">Nam Định</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Đặt bàn <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Đồ ăn <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Thực phẩm <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Siêu thị <span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ...
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Thú cưng</a>
            <a class="dropdown-item" href="#">Giặt ủi</a>
          </div>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0 pull-right" (ngSubmit)="search()">
      <div class="input-group">
        <div class="form-outline">
          <input [(ngModel)]="foodName" type="search" id="form1" class="form-control" placeholder="Search" name="foodName"/>
          <label class="form-label" for="form1"></label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
    <button type="button" class="btn btn-light border-primary">Đăng nhập</button>
  </nav>
</div>
<div class="container-fruit bg-dark ">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-2">
      <div class="input-group m-3">
        <input type="text" class="form-control text-center border-primary" placeholder="Địa chỉ giao hàng"
               aria-label="Username"
               aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-md-5">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 bg-light text-center">
      <h2>Danh sách các món ăn</h2>
      <div class="row">
        <div class="col-md-4"  *ngFor="let food of foodList">
          <div class="card ">
            <button class="btn"><img class="card-img-top" height="200px"
                                     src="{{food.img}}"
                                     alt="Card image cap"></button>
            <div class="card-body">
              <h3 class="card-title">{{food.foodName}}</h3>
              <p class="card-text">{{food.price}} VNĐ</p>
              <a href="#" class="btn btn-primary">Mua Ngay!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class=" p-4" style="background-color: rgba(0, 0, 0, 0.2);">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <strong class="text-uppercase mr-3">Công ty cổ phần Foody</strong>
        <img src="https://www.now.vn/app/assets/img/Logo-Nowvn-Elip.png?e398e9326ddac9d81cae2dfce3c1d96c" width="80">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Địa chỉ công ty</h5>
        <p class="m-0"><small>Công Ty Cổ Phần Foody</small></p>
        <p class="m-0"><small>Lầu G, Tòa nhà Jabes 1,</small></p>
        <p class="m-0"><small>số 244 đường Cống Quỳnh, phường Phạm Ngũ Lão, Quận 1, TPHCM</small></p>
        <p class="m-0"><small>Giấy CN ĐKDN số: 0311828036</small></p>
        <p class="m-0"><small>do Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 11/6/2012,</small></p>
        <p class="m-0"><small>sửa đổi lần thứ 23, ngày 10/12/2020</small></p>
        <p class="m-0"><small>Số điện thoại: 1900 2042</small></p>
        <p class="m-0"><small>Email: info@now.vn</small></p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <small class="text-dark" >   © 2020 Copyright: </small>
    <small class="text-dark" >A Foody Corporation</small>
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i
      ></a>
    </section>
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>
